@font-face {
  font-family: 'Aleo';
  src: url('../../static/fonts/Aleo/Aleo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'FrancoisOne';
  src: url('../../static/fonts/FrancoisOne/FrancoisOne-Regular.ttf') format('truetype');
}
