@font-face {
  font-family: 'Aleo';
  src: url('../../static/fonts/Aleo/Aleo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'FrancoisOne';
  src: url('../../static/fonts/FrancoisOne/FrancoisOne-Regular.ttf') format('truetype');
}
body {
  background-color: #F4E8D8;
}
.homepage_image {
  background-image: url("assets/images/homepage_image.jpg");
}
.login_signup_layout {
  background-image: url("assets/images/login_signup_bg.jpg");
}
